{{ collection from="exhibitions" as="exhibition" sort="order" }}
  {{ exhibition }}
    {{ if is_current }}
      {{ partial:elements/exhibitions/current }}
    {{ /if }}
  {{ /exhibition }}
{{ /collection }}

{{ partial:accordion/container }}
  <div class="pt-30 pb-16">
    <h2>Vergangene Ausstellungen</h2>
  </div>
  {{ collection from="exhibitions" as="exhibition" sort="order" }}
    {{ exhibition }}
      {{ unless is_current }}
        {{ partial:accordion/item }}
          {{ partial:accordion/button class="py-16 lg:py-20" }}
            {{ partial:partials/headings/h1 title="{{ title }}" class="text-xl lg:text-4xl leading-[1em] mb-10 underline underline-offset-4 decoration-3 decoration-skip-ink-none decoration-scarlett" }}
          {{ /partial:accordion/button }}
          {{ partial:accordion/content }}
            {{ partial:elements/exhibitions/archive }}
          {{ /partial:accordion/content }}
        {{ /partial:accordion/item }}
      {{ /unless }}
    {{ /exhibition }}
  {{ /collection }}
{{ /partial:accordion/container }}