<div 
  x-cloak 
  x-show="menu"
  x-transition:enter="transition ease-in duration-100"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in duration-0"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
  class="bg-mint flex flex-col justify-between pb-16 pt-52 lg:pb-40 lg:pt-32 w-full h-[calc(100vh_-_72px)] lg:h-[calc(100vh_-_130px)] fixed z-50 left-0 top-72 lg:top-130">
  <nav class="w-full max-w-6xl mx-auto px-16 lg:px-40">
    <ul>
      {{ nav:main }}
        {{ partial:menu/item-main }}
      {{ /nav:main }}
    </ul>
  </nav>
  <nav class="w-full max-w-6xl mx-auto px-16 lg:px-40">
    <ul>
      {{ nav:meta }}
        {{ partial:menu/item-meta }}
      {{ /nav:meta }}
    </ul>
  </nav>
</div>