<body 
  class="antialiased font-gt-alpina-regular leading-[1.25] text-xs lg:text-sm text-black flex min-h-screen flex-col sm:!overflow-y-scroll {{ css_class ?? '' }}"
  :class="{ 'overflow-y-hidden': menu === true }" 
  x-data="{ menu: false, isScrolled: false, prevScrollPos: 0, headerVisible: true, scrollUpDistance: 0 }"
  x-init="window.addEventListener('scroll', () => { 
    if (!menu) {
      const currentScrollPos = window.pageYOffset;
      if (currentScrollPos < prevScrollPos) {
        scrollUpDistance += prevScrollPos - currentScrollPos;
        if (scrollUpDistance >= 50) {
          headerVisible = true;
        }
      } else {
        scrollUpDistance = 0;
        headerVisible = currentScrollPos < 50;
      }
      isScrolled = currentScrollPos > 150;
      prevScrollPos = currentScrollPos;
    }
  })">
  {{ slot:header }}
  {{ slot }}
  {{ slot:footer }}
</body>