<body 
  class="antialiased font-gt-alpina-regular leading-[1.25] text-xs lg:text-sm text-black flex min-h-screen flex-col {{ css_class ?? '' }}" 
  x-data="{ menu: false, isScrolled: false, prevScrollPos: 0, headerVisible: true }"
  x-init="window.addEventListener('scroll', () => { 
    if (!menu) {
      isScrolled = window.pageYOffset > prevScrollPos;
      headerVisible = !isScrolled || window.pageYOffset < 50;
      prevScrollPos = window.pageYOffset;
    }
  })">
  {{ slot:header }}
  {{ slot }}
  {{ slot:footer }}
</body>