<footer class="bg-white text-xs lg:text-sm">
  <div class="p-16 pt-60 lg:p-40 lg:flex lg:justify-between max-w-6xl mx-auto">
    <div>
      Frank Braun<span class="hidden lg:inline">,</span><br class="lg:hidden">
      Sihlquai 65<span class="hidden lg:inline">,</span><br class="lg:hidden">
      CH–8005 Zürich<br>
      <a 
        href="mailto:mail@frankbraun.ch" 
        title="E-Mail">
        mail@frankbraun.ch 🏹
      </a>
    </div>
    <div class="flex justify-between items-end lg:items-start mt-30 lg:mt-0">
      <ul class="lg:order-2 lg:ml-40 lg:space-y-4">
        <li>
          <a 
            href="/impressum" 
            title="Impressum">
            Impressum
          </a>
        </li>
        <li>
          <a 
            href="/datenschutz" 
            title="Datenschutz">
            Datenschutz
          </a>
        </li>
      </ul>
      <a 
        href="{{ instagram:account_url }}" 
        title="Frank Braun auf Instagram"
        target="_blank"
        class="block lg:order-1 lg:mt-4">
        {{ partial:icons/instagram class="w-38 lg:w-48 h-auto" }}
      </a>
    </div>
  </div>
</footer>
{{ vite src="resources/js/app.js" }}
</body>
</html>