<footer class="text-xs lg:text-sm">
  <div class="p-16 lg:p-40">
    Frank Braun<span class="hidden lg:inline">,</span><br class="lg:hidden">
    Sihlquai 65<span class="hidden lg:inline">,</span><br class="lg:hidden">
    CH–8005 Zürich<br>
    <a 
      href="mailto:mail@frankbraun.ch" 
      title="E-Mail"
      class="inline-block border-b border-b-azure border-b-2 leading-none">
      mail@frankbraun.ch 🏹
    </a>
  </div>
</footer>
{{ vite src="resources/js/app.js" }}
{{ livewire:scripts }}
</body>
</html>