<div class="pt-30 pb-16 lg:pb-40 bg-mint">
  <article class="max-w-6xl mx-auto px-16 lg:px-40 exhibition">
    <div class="md:grid md:grid-cols-2 md:gap-x-20">
      <div class="md:col-span-1 mb-16 md:mb-0">
        {{ if is_homepage }}
          <div class="mb-20">
            <a href="/ausstellungen">
              Ausstellung ↬
            </a>
          </div>
        {{ /if }}
        {{ partial:partials/headings/h1 title="{{ title }}" class="text-xl lg:text-4xl mb-5 underline underline-offset-4 decoration-3 decoration-skip-ink-none decoration-scarlett" }}
        <div class="max-w-3xl text-sm lg:text-md mb-15 lg:mb-20">
          {{ date_location | nl2br }}
        </div>
        <div class="max-w-3xl text-sm lg:text-md mb-30 lg:mb-50">
          {{ info | nl2br }}
        </div>
        <div class="max-w-3xl text-xs lg:text-sm mb-20">
          {{ text }}
        </div>
        {{ if !is_homepage }}
          <div class="max-w-3xl text-xs lg:text-sm">
            {{ links }}
          </div>
        {{ /if }}
      </div>
      <div class="md:col-span-1">
        {{ partial:media/image 
          :image="image_landscape" 
          class="block md:hidden w-full h-auto"
          :sizes="['2xl', 'xl', 'lg']" }}
        {{ partial:media/image 
          :image="image_portrait" 
          class="hidden md:block w-full h-auto"
          :sizes="['2xl', 'xl', 'lg']" }}
      </div>
    </div>
  </article>
</div>