<div class="bg-mint mb-50 lg:mb-0 px-15 py-30 lg:p-30 lg:pr-40 lg:absolute lg:top-202 lg:right-0 xl:right-[calc((100%_-_1152px)_/_2)]">
  <a 
    href="/ausstellungen" 
    title="{{ exhibition:title }}"
    class="group flex justify-between items-end lg:block">
    {{ partial:headings/h1 title="{{ exhibition:title }}" class="text-lg lg:text-4xl lg:mb-30 leading-none underline underline-offset-4 decoration-3 decoration-skip-ink-none decoration-scarlett group-hover:no-underline" }}
    <div class="hidden lg:block text-sm lg:text-md">
      {{ exhibition:date_location | nl2br }}
    </div>
    <span class="block lg:hidden">
      Ausstellung ↬
    </span>
  </a>
</div>