@import "typo/webfonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

.decoration-skip-ink-none {
  text-decoration-skip-ink: none;
}

/* Global styles */
main {
  @apply flex-1;
}

main p {
  @apply mb-20 lg:mb-40;
}

main p:last-child {
  @apply mb-0;
}

main ul {
  @apply list-disc list-inside m-0 mb-20 lg:mb-40;
}

main ul p {
  @apply mb-0 inline;
}

footer a {
  @apply underline underline-offset-4 decoration-3 decoration-azure hover:no-underline;
  text-decoration-skip-ink: none;
}

/* Specific styles */
body.privacy main section {
  @apply max-w-4xl
}

body.privacy main h2,
body.privacy main h3,
body.imprint main h2,
body.imprint main h3 {
  @apply mb-5 text-sm lg:text-md;
}

body.privacy main a,
body.imprint main a {
  @apply underline underline-offset-4 decoration-3 decoration-azure hover:no-underline;
  text-decoration-skip-ink: none;
}

body.contact main a {
  @apply underline underline-offset-4 decoration-3 decoration-azure hover:no-underline;
  text-decoration-skip-ink: none;
}

body.exterior main,
body.opposite main {
  @apply !bg-snow;
}

.text-container a,
.exhibition a {
  @apply underline underline-offset-4 decoration-3 decoration-azure hover:no-underline;
  text-decoration-skip-ink: none;
}

.exhibition p {
  @apply mb-15 lg:mb-30;
}

/* Helpers */
.nobr {
  @apply whitespace-nowrap;
}

/* Overflow handling for mobile devices */
.menu-open {
  @apply !overflow-y-hidden sm:!overflow-y-auto;
}

.menu-open main,
.menu-open footer {
  @apply !hidden sm:!block;
}
